/* General Styling */
.menu-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0rem 1rem 2rem;
	background-color: #ffffff;
	color: #000;
	position: relative;
	width: 100%; /* Ensure full-width navbar */
}

/* Profile Section */
.profile {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	position: relative;
	z-index: 2;
	margin-right: 15px; /* Ensure profile stays above the hamburger when it is visible */
}
.logo {
	height: auto;
}

/* Hamburger Menu */
.hamburger {
	display: none;
	cursor: pointer;
	position: absolute; /* Position it absolutely to the right */
	right: 1rem; /* You can adjust this value to your preference */
	z-index: 1; /* Ensure hamburger is under the profile when both are visible */
}
.hidden {
	display: none;
}

/* Responsive Styles */
@media (max-width: 1200px) and (min-width: 769px) {
	.menu-container {
		display: flex;
		align-items: center;
		justify-content: flex-end; /* Align profile and hamburger to the right */
	}
	.logo {
		position: absolute;
		left: 0;
		margin-left: 5px;
		height: auto;
	}

	/* Profile stays to the left of hamburger */
	.profile {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		position: absolute;
		right: 3rem;
		margin-right: 0px; /* Ensure profile stays above the hamburger when it is visible */
		/* Adjust this value based on the hamburger width */
	}

	/* Hamburger Menu */
	.hamburger {
		display: block;
		margin-top: 5px;
	}

	.menus {
		flex-direction: column;
		position: absolute;
		top: 4rem;
		right: 0;
		background-color: #ffffff;
		border-radius: 8px;
		overflow: hidden;
		transform: translateY(-200%);
		gap: 0;
		width: 80%;
	}

	.menus.open {
		transform: translateY(0);
	}

	.menus ul {
		display: flex;
		flex-direction: column;

		gap: 0;
		width: 100%;
	}

	.menu-item {
		padding: 1rem;
		text-align: center;
	}
}

@media (max-width: 768px) {
	/* Profile and hamburger are adjusted */
	.menu-container {
		display: flex;
		justify-content: flex-end; /* Align profile and hamburger to the right */
	}
	.logo {
		position: absolute;
		left: 0;
		margin-left: 5px;
		height: auto;
	}

	/* Profile stays to the left of hamburger */
	.profile {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		/* position: absolute; */
		right: 2rem; /* Adjust this value based on the hamburger width */
	}

	/* Hamburger Menu */
	.hamburger {
		display: block;
		margin-top: 5px;
	}

	.menus {
		flex-direction: column;
		position: absolute;
		top: 4rem;
		right: 0;
		background-color: #ffffff;
		border-radius: 8px;
		overflow: hidden;
		transform: translateY(-200%);
		gap: 0;
		width: 100%;
	}

	.menus.open {
		transform: translateY(0);
		width: 100%;
	}

	.menus ul {
		display: flex;
		flex-direction: column;

		gap: 0;
		width: 100%;
	}

	.menu-item {
		padding: 1rem;
		text-align: center;
	}
}

/* New media query for max-width 560px */

@media (max-width: 560px) {
	/* Move the profile section inside the hamburger menu */

	.menus {
		width: 100%;
	}
	.menus.open {
		width: 100%;
	}
}
@media (max-width: 400px) {
	.indices-container {
		padding-left: 6px;
		padding-right: 2px;
	}
	.index,
	.index-points {
		font-size: 14px;
	}
	.menus {
		width: 10rem;
	}
	.menus.open {
		width: 10rem;
	}
}
